@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
.img {
  height: 100px;
  width: 100px;
  margin: 2em 2em 0em 2em;
  animation-play-state: paused; 
}

#imgPlayer, #imgRobot {
  height: 100px;
  width: 100px;
  margin: 2em 2em 2em 2em;
  animation-play-state: paused; 
}


.imgPrincess{
  height: 120px;
  width: 100px;
  margin: .5em 2em 0em 2em;
  animation-play-state: paused; 
}


.img:hover, .imgPrincess:hover {
  /* Toggle our animation play state to running when we are hovering over our sticker */
  animation-play-state: running;
  animation: bounce .25s infinite alternate;
  -webkit-animation: bounce .25s infinite alternate;
}


.images{
  display:inline-flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 25px;
  border: 2px solid lightgrey;
  padding: 20px;
  margin-top: 2em;
      
}

body {
	padding: 0;
	margin: 0;
	text-align: center;
	color: white;
	font-family: 'Uncial Antiqua', cursive;
	background-image: url("https://img.itch.zone/aW1hZ2UvMTE1OTIxLzUzNjE1OS5wbmc=/original/Xg%2BRuo.png");
	background-repeat: no-repeat;
	background-size: 100% 50em;
	/*background: rgb(214,233,148);
background: radial-gradient(circle, rgba(214,233,148,1) 0%, rgba(13,84,48,1) 100%);*/
}

h4 {
	/*display: inline-block;*/
	color:black;
	}

.hunter:hover, .princess:hover, .bear:hover{
	
	font-family: 'Sigmar One', cursive;
}

h1 {
	font-size: 400%;
	margin: 1em;
	text-decoration: underline;
}

p {
	color: black;
	font-size: 150%;
	display: inline-flex;
	text-align: center;
	white-space: nowrap;
	margin-bottom: -50px;
	word-spacing: 3em;
}

a {
	
  background-color: #555555; 
  border: none;
  color: white;
  padding: 18px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  font-size: 16px;
    width: 10em;
    margin: 0 auto;
  

}

a:visited {
	color: white;
}

.resultbox {
	color: black;
	background-color: white;
   	border-radius: 25px;
 	border: 2px solid lightgrey;
 	padding: 2em;
 	width:35em;
 	display: flex;
 	margin: 2em auto;


	}

#button1, #button2, #button3 {

padding: 10px;
border: none;
background: none;
display:block;
margin: 0 auto;
 	text-align: center;
}

.result{
	margin: -1em;
	margin-bottom: 1em;
}



.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 3em;
  
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.player-column {
  height: 100px;
}

.robot-column {
  height: 100px;
}


#revert {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #396158 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
  display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Uncial Antiqua', cursive;
	font-size:15px;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
#revert:hover {
	background:linear-gradient(to bottom, #396158 5%, #768d87 100%);
	background-color:#396158;
}
#revert:active {
	position:relative;
	top:1px;
}

#revertButton {
  display: flex;
  justify-content: center;
  padding: 1em;
}